/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Define grid container */
#container {
    display: grid;
    grid-template-areas: 
    "projectHeading"
        "inputBox"
        "buttons";
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 40%;
    height: 100vh;
}

/* Define grid items */

#projectHeading{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area: projectHeading;
    background-color: #78af4c;

}

#inputBox {
    display: flex;
    height: auto; /* Set container height to fill the viewport */
    background-color: #4caf89;
    padding: 40px;
}

#textInput{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #4ca3af;

}   

#postButton {
    grid-area: buttons;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 12px;
}

#getButton {
    grid-area: buttons;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 12px;

}

